body {
  background-color: #f1f1f1;
  margin: 0;
  border: 0;
  font-family: 'Roboto Mono', monospace;
}

.grid {
  border: 2px blue solid;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 25% 25% 2fr 1fr;
  grid-template-rows: 200px 200px;
  grid-row-gap: 10px;
  grid-column-gap: 15px;
}

.box-one {
  background-color: dodgerblue;
  color: black;
  border-radius: 5px;
}

.a {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

h1 {
  font-size: 18px;
  text-align: center;
}

h2 {
  font-size: 16px;
  text-align: center;
}

.container {
  background-color: whitesmoke;
}

.box-two {
  background-color: dodgerblue;
  height: 100px;
  width: 100px;
  border: 1px solid lightgrey;
}

#flex {
  display: flex;
}
